.container

  .page-header
      h1.header_text New Event
      a(href='/timeline' title="Cancel New Event Creation")
        .glyphicon.page_header_btn.x.glyphicon-remove
  if errors
    each error in errors
      div.alert.alert-danger
        span #{error.error}
  if saved
    div.alert.alert-success
      span Your profile has been saved
  form.login-form.form-horizontal(method='post', role='form', action='/event/add')
    input(name='_csrf', type='hidden', value=csrfToken)
    
    div.form-group
      label.col-sm-4 Event Name
      div.col-sm-8
        input.form-control(
          placeholder='Enter event name',
          required=true,
          name='eventName',
          type='text',
          value=eventName)
    div.form-group
      label.col-sm-4 Event Type
      div.col-sm-8
        select.form-control(
          required = true,
          name = 'eventType',
          value = eventType)
          option 1
          option 2
          option 3
          option 4
          option 5
    div.form-group
      label.col-sm-4 Start Time
      div.col-sm-8
        timepicker(
          ng-model='starttime', 
          ng-change='changed()', 
          hour-step='hstep', 
          minute-step='mstep', 
          show-meridian='ismeridian')
        input.form-control(
          required=true,
          type = 'hidden',
          name='startTime',
          value="{{starttime}}")
    div.form-group
      label.col-sm-4 End Time
      div.col-sm-8
        timepicker(
          ng-model='endtime', 
          ng-change='changed()', 
          hour-step='hstep', 
          minute-step='mstep', 
          show-meridian='ismeridian')
        input.form-control(
          required=true,
          type = 'hidden',
          name='endTime',
          value="{{endtime}}")
    div.form-group
      label.col-sm-4 
    div.form-group
      label.col-sm-4 Event Date
      div.col-sm-8
        p.input-group
          input.form-control(
            type="text", 
            datepicker-popup="yyyy-MM-dd", 
            ng-model="dt", 
            is-open="opened", 
            min-date="minDate", 
            max-date="'2015-06-22'", 
            datepicker-options="dateOptions", 
            date-disabled="disabled(date, mode)", 
            ng-required="true", 
            close-text="Close",
            name = "eventDate",
            value = eventDate)
          span.input-group-btn
            button.btn.btn-default(type="button", ng-click="open($event)")
              i.glyphicon.glyphicon-calendar
    div.form-group
      label.col-sm-4 Event Description
      div.col-sm-8
        textarea.form-control(
          placeholder='Enter Description Here...',
          rows='6',
          required=true,
          name='eventDescription'
          value=eventDescription
        )
    div.form-group
      label.col-sm-4 Location
      div.col-sm-8
        input.form-control(
          type='text',
          ng-auto-complete='',
          ng-model='result',
          required=true,
          name='eventLocation',
          value=eventLocation,
          details="details",
          options="options")
    div.form-group
      div.col-sm-offset-4.col-sm-8
        ui-gmap-google-map(center='map.center', zoom='map.zoom')
          ui-gmap-marker(coords="marker.coords", options="marker.options", idkey="marker.id")
    div.form-group
      div.col-sm-offset-4.col-sm-8
        button.login.btn.btn-primary(type='submit' value='save') Create
        
      
        